<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="image-toolbar"><img src="assets/img/emblem_gov.gif" mat-card-md-image></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/side/claimed">ProcessID-1</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/side/claimed">ProcessID-3</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/side/claimed">ProcessID-3</a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="lightskyblue">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <mat-toolbar-row>
                <mat-card-title>THE STATE OF ERITREA | CAPS</mat-card-title>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <mat-card-subtitle>Consular Affairs | Visa Application Processing System</mat-card-subtitle>
            </mat-toolbar-row>
            <!-- <span>THE STATE OF ERITREA | CAPS</span> -->
            <!-- <app-header></app-header> -->

        </mat-toolbar>
        <!-- Add Content Here -->
        <app-claimed-applications></app-claimed-applications>
    </mat-sidenav-content>
</mat-sidenav-container>
