.mat-stepper-vertical {
    margin-top: 8%;
}

.mat-form-field {
    margin-top: 16%;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

.example-margin {
    /* margin: 0 10px; */
    display: flex;
}

.example-full-width {
    width: 100%;
}
