<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" label="3.1">
        <ng-template matStepLabel>Personal Information</ng-template>
        <app-personal-info></app-personal-info>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.2">
        <ng-template matStepLabel>Passport and Nationality</ng-template>
        <app-passport></app-passport>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.3">
        <ng-template matStepLabel>Visa Information</ng-template>
        <app-visa-information></app-visa-information>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.4">
        <ng-template matStepLabel>Reference and Stay</ng-template>
        <app-reference-and-stay></app-reference-and-stay>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.5">
        <form [formGroup]="secondFormGroup" class="inputForm">
            <ng-template matStepLabel>People Traveling</ng-template>
            <div>
                <mat-label>3.5.1 People Travelling with Same Passport: </mat-label>
            </div>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="First name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Middle name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Last name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="age" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Realtionship </mat-label>
                <input matInput formControlName="secondCtrl" placeholder="relationship" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.6">
        <form [formGroup]="secondFormGroup" class="inputForm">
            <ng-template matStepLabel>Upload Documents</ng-template>
            <div>
                <mat-label>3.6.1 Documents: </mat-label>
            </div>
            <app-upload-documents></app-upload-documents>
            <div>
                <button mat-raised-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.7">
        <form [formGroup]="secondFormGroup" class="inputForm">
            <ng-template matStepLabel>Ememrgency Contact</ng-template>
            <div>
                <mat-label>3.7.1 Emergency Contact: </mat-label>
            </div>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Nationality" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Nationality" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Nationality" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Realtionship </mat-label>
                <input matInput formControlName="secondCtrl" placeholder="relationship" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mobile Number </mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput formControlName="secondCtrl" placeholder="mobile number" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Home Number </mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput formControlName="secondCtrl" placeholder="Home number" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Work Number </mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput formControlName="secondCtrl" placeholder="Work number" required>
            </mat-form-field>
            <div>
                <mat-label> Address: </mat-label>
            </div>
            <mat-form-field>
                <mat-label>City </mat-label>
                <input matInput formControlName="secondCtrl" placeholder="city" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>State </mat-label>
                <input matInput formControlName="secondCtrl" placeholder="state" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Country </mat-label>
                <input matInput formControlName="secondCtrl" placeholder="country" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="3.8">
        <form [formGroup]="secondFormGroup" class="inputForm">
            <ng-template matStepLabel>Payment</ng-template>
            <div>
                <mat-label>3.8.1 Payment </mat-label>
            </div>
            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Nationality" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done With your Application.</p>
        <p>Thank you for using online visa Application</p>

        <div>
            <button mat-raised-button type="submit" color="primary">Submit</button>
            <button mat-raised-button matStepperPrevious color="primary">Back</button>
            <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
