table {
    width: 100%;
    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
    margin: auto;
    display: block;
    /* margin-top: 10%; */
    
  }
  
  td, th {
    width: 25%;
  }
  .mat-elevation-z8{
      width: 80%;
      margin: auto;
  }
  h2{
    margin-top: 14%;
    color: black;
    text-align: center;
  }