<mat-toolbar>
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/home'">Home  </a>
            <a mat-button [routerLink]="'/aboutEritrea'"> About Eritrea</a>
            <a mat-button [routerLink]="'/contactus'"> Contact us</a>
            <a mat-button [routerLink]="'/login'">  Visa Apply </a>
            <a mat-button [routerLink]="'/checkStatus'"> status Check </a>
            <a mat-button [routerLink]="'/login'"> signin </a>

        </div>
    </mat-toolbar-row>
</mat-toolbar>