<mat-card class="example-card">
    <mat-card-header>
       
        <p>Today is {{today | date}}</p>
         <mat-card-title>For Offical Use Only</mat-card-title>
        <mat-card-subtitle>Name of the Person</mat-card-subtitle>
      </mat-card-header>
    
    <mat-form-field class="full-width">
        <mat-label>Decision Taken</mat-label>
        <input matInput>
      </mat-form-field>

    
       
    


        <mat-form-field class="full-width">
            <mat-label>Decision Taken</mat-label>
            <input matInput>
        <input matInput>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Entry Visa Number</mat-label>
        <input matInput>
      </mat-form-field><br>
      <mat-form-field class="full-width">
        <mat-label>Remark</mat-label>
        <textarea matInput></textarea>
      </mat-form-field><br>
  
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="primary">Clear</button>
     
</mat-card>
